<!DOCTYPE html>
<html>

<head>
    <title>Temas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <form method="POST">
        <h1>Agregar nuevo tema</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Publicar</button>
    </form>

    <div class="listado">
        <h2>Listado de temas</h2>
        <ul>
            {% for tema in temas %}
            <li><a href="{% url 'detalle_tema' tema.id %}" class="boton">{{ tema.titulo }}</a></li>
            {% empty %}
            <li>No hay temas aún.</li>
            {% endfor %}
        </ul>
    </div>

</body>

</html>